<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.howsmart.housemart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.howsmart.housemart.BrokerCertificationActivity"></activity>
        <activity android:name="com.howsmart.housemart.BrokerActivity" />
        <activity
            android:name="com.howsmart.housemart.ShowContractActivity"
            android:parentActivityName="com.howsmart.housemart.ChatActivity" />
        <activity
            android:name="com.howsmart.housemart.MakeContractActivity"
            android:parentActivityName="com.howsmart.housemart.ChatActivity" />
        <activity android:name="com.howsmart.housemart.SearchActivity_upload" />
        <activity android:name="com.howsmart.housemart.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.howsmart.housemart.MainActivity" />
        <activity
            android:name="com.howsmart.housemart.JoinActivity"
            android:parentActivityName="com.howsmart.housemart.LoginActivity" />
        <activity
            android:name="com.howsmart.housemart.ResetPasswordActivity"
            android:parentActivityName="com.howsmart.housemart.LoginActivity" />
        <activity android:name="com.howsmart.housemart.SettingActivity" />
        <activity
            android:name="com.howsmart.housemart.ChatActivity"
            android:parentActivityName="com.howsmart.housemart.ChatListActivity" />
        <activity
            android:name="com.howsmart.housemart.ChatListActivity"
            android:parentActivityName="com.howsmart.housemart.SettingActivity" />
        <activity android:name="com.howsmart.housemart.ListActivity" />
        <activity android:name="com.howsmart.housemart.UploadActivity" />
        <activity android:name="com.howsmart.housemart.FilterActivity" />
        <activity android:name="com.howsmart.housemart.SearchActivity" />
        <activity android:name="com.howsmart.housemart.SidoActivity" />
        <activity android:name="com.howsmart.housemart.SigunguActivity" />
        <activity android:name="com.howsmart.housemart.HouseInfoActivity" />
        <activity android:name="com.howsmart.housemart.PrivateinfoActivity" />
        <activity android:name="com.howsmart.housemart.BusinessActivity" />
    </application>

</manifest>